ul.tab-link {
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
	li {
		display: inline-block;
		list-style: none;
		a {
			margin: 0 25px;
			font-weight: 700;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			font-weight: bold;
			padding-bottom: 15px;
		}
	}
	.nav-link {
		border: none;
		border-bottom: 3px solid transparent;
		&:hover {
			border: none;
			border-bottom: 3px solid $brand-primary;
		}
	}
	.nav-link.active {
		background: none;
		color: $brand-primary;
		border-color: $brand-primary;
	}
}
